# Set default behavior to automatically normalize line endings
* text=auto

# Windows scripts should retain CRLF endings
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
*.{ps1,[pP][sS]1} text eol=crlf

# Source code files
*.ts text
*.tsx text
*.js text
*.jsx text
*.json text
*.html text
*.css text
*.scss text
*.md text
*.yml text
*.yaml text

# Binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.ttf binary
*.woff binary
*.woff2 binary
*.eot binary
*.svg text