.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  gap: 20px;
}

.app-header {
  font-size: calc(10px + 2vmin);
}

.app-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.app-selection {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
